services:
  - type: web
    name: ugwunagbo-website
    env: node
    buildCommand: npm install
    startCommand: node server.js
    envVars:
      - key: NODE_ENV
        value: production
    disk:
      name: uploads
      mountPath: /opt/render/project/src/public/uploads
      sizeGB: 1